include AUTHORS.rst
include COPYING
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude docs/_build
recursive-exclude docs _build *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.html *.txt
